<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>détails</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>
    <header>
        <p>détails perso</p>
    </header>

    <main class="detailsPerso">
        <form th:action="@{/hello/details/{index}(index=${index})}" method="post" th:object="${perso}">
            <div class="CreaPersoForm">
                <label for="name">Name</label>
                <input type="text" id="name" th:field="*{name}" readonly>
            </div>
            <div class="CreaPersoForm">
                <label for="level">Level</label>
                <input type="number" id="level" th:field="*{level}" readonly>
            </div>

            <div class="CreaPersoForm">
                <label for="statsPoints">stats Points</label>
                <input type="number" id="statsPoints" th:field="*{statsPoints}" readonly>
            </div>

            <div class="CreaPersoForm">
                <label for="classe">Classe</label>
                <select id="classe" th:field="*{classe}">
                    <option th:value="Sorcier" th:text ="Sorcier"></option>
                    <option th:value="Chevalier" th:text ="Chevalier"></option>
                    <option th:value="Archer" th:text ="Archer"></option>
                    <option th:value="Occultiste" th:text ="Occultiste"></option>
                    <option th:value="Paladin" th:text ="Paladin"></option>
                    <option th:value="Ménestrel" th:text ="Ménestrel"></option>
                </select>
            </div>
            <div class="CreaPersoForm">
                <label for="race">Race</label>
                <input type="text" id="race" th:field="*{race}" readonly>
            </div>


            <div class="CreaPersoForm">
                <label for="force">force</label>
                    <div class="statsDetails">
                        <input type="number" id="force" th:field="*{force}" readonly>
                        <a th:href="@{/hello/addStat/{index}/force(index=${index})}">+</a>
                    </div>
            </div>

            <div class="CreaPersoForm">
                <label for="agilite">agilité</label>
                <div class="statsDetails">
                    <input type="number" id="agilite" th:field="*{agilite}" readonly>
                    <a th:href="@{/hello/addStat/{index}/agilite(index=${index})}">+</a>
                </div>
            </div>

            <div class="CreaPersoForm">
                <label for="endurance">endurance</label>
                <div class="statsDetails">
                    <input type="number" id="endurance" th:field="*{endurance}" readonly>
                    <a th:href="@{/hello/addStat/{index}/endurance(index=${index})}">+</a>
                </div>
            </div>

            <div class="CreaPersoForm">
                <label for="rapidite">rapidité</label>
                <div class="statsDetails">
                    <input type="number" id="rapidite" th:field="*{rapidite}" readonly>
                    <a th:href="@{/hello/addStat/{index}/rapidite(index=${index})}">+</a>
                </div>
            </div>

            <div class="CreaPersoForm">
                <label for="intelligence">intelligence</label>
                <div class="statsDetails">
                    <input type="number" id="intelligence" th:field="*{intelligence}" readonly>
                    <a th:href="@{/hello/addStat/{index}/intelligence(index=${index})}">+</a>
                </div>
            </div>

            <div class="CreaPersoForm">
                <label for="chance">chance</label>
                <div class="statsDetails">
                    <input type="number" id="chance" th:field="*{chance}" readonly>
                    <a th:href="@{/hello/addStat/{index}/chance(index=${index})}">+</a>
                </div>
            </div>
            <div class="CreaPersoForm">
                <label for="charisme">charisme</label>
                <div class="statsDetails">
                    <input type="number" id="charisme" th:field="*{charisme}" readonly>
                    <a th:href="@{/hello/addStat/{index}/charisme(index=${index})}">+</a>
                </div>
            </div>


            <div class="CreaPersoButton">
                <button type="submit">Enregistrer</button>
            </div>
        </form>

    </main>

    <footer>

    </footer>
</body>
</html>