<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>
    <header>
        <p>Créationne ton bonome</p>
    </header>

    <main class="CreaPerso">
        <form th:action="@{/hello/create}" method="post" th:object="${perso}">
            <div class="CreaPersoForm">
                <label for="name">Name</label>
                <input type="text" id="name" th:field="*{name}" required>
            </div>
            <div class="CreaPersoForm">
                <label for="classe">Classe</label>
                    <select id="classe" th:field="*{classe}">
                        <option th:value="Sorcier" th:text ="Sorcier"></option>
                        <option th:value="Chevalier" th:text ="Chevalier"></option>
                        <option th:value="Archer" th:text ="Archer"></option>
                        <option th:value="Occultiste" th:text ="Occultiste"></option>
                        <option th:value="Paladin" th:text ="Paladin"></option>
                        <option th:value="Ménestrel" th:text ="Ménestrel"></option>
                    </select>
            </div>
            <div class="CreaPersoForm">
                <label for="race">Classe</label>
                <select id="race" th:field="*{race}">
                    <option th:value="Orc" th:text ="Orc"></option>
                    <option th:value="Elfe" th:text ="Elfe"></option>
                    <option th:value="Elfelin" th:text ="Elfelin"></option>
                    <option th:value="Nain" th:text ="Nain"></option>
                    <option th:value="Hobbit" th:text ="Hobbit"></option>
                    <option th:value="Gobelin" th:text ="Gobelin"></option>
                </select>
            </div>
            <div class="CreaPersoButton">
                <a th:href="@{/hello/list}">Annuler</a>
                <button type="submit">Créationner</button>
            </div>
        </form>
    </main>
    <footer>

    </footer>

</body>
</html>