<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Connexion / Inscription</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>

<header>
    <p>Connexion / Inscription</p>
</header>

<div class="auth-container">
    <div class="auth-box">
        <form th:action="@{/hello/login}" method="post">
            <label>Connexion</label>
            <input type="text" name="login" placeholder="prainom" required>
            <input type="password" name="password" placeholder="Modpass" required>
            <button type="submit">Se connecter</button>
        </form>
    </div>

    <div class="auth-box">
        <form th:action="@{/hello/register}" method="post">
            <label>Inscription</label>
            <input type="text" name="login" placeholder="prainom" required>
            <input type="password" name="password" placeholder="Modpass" required>
            <button type="submit">S'inscrire</button>
        </form>
    </div>
</div>

</body>
</html>