<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Personnages</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>
<header class="main-header">
    <p>Vos personnages</p>
    <div class="header-user">
        <th:block th:if="${status == null or status == 'anonymous'}">
            <a th:href="@{/hello/login}" class="header-link">Connexion</a>
        </th:block>
        <th:block th:if="${status != null and status != 'anonymous'}">
            <a th:href="@{/hello/login}" th:text="${status}" class="header-link"></a>
        </th:block>
    </div>
</header>

    <div class="ListePersos">
        <li th:each="perso : ${personnages}">
            name  : <span th:text="${perso.name}"></span>
            | level : <span th:text="${perso.level}"></span>
            | classe : <span th:text="${perso.classe}"></span>
            | race : <span th:text="${perso.race}"></span>
            <a th:href="@{/hello/details/{id}(id=${perso.id})}" class="DetailPersoButton">+</a>
            <a th:href="@{/hello/delete/{id}(id=${perso.id})}" class="DetailPersoButton">x</a>
        </li>
        <li class="AddPersoLigne">
            <a th:href="@{/hello/create}" class="AddPerso">Ajouter un personnage</a>
        </li>
    </div>
    <footer>
        <p>Fin de vos personnages</p>
    </footer>
</body>
</html>